/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;

*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: #2081c3;
    display: flex;
    gap: 50px;
    padding: 20px 0px 20px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px #0a2c42;
}

#navbar a {
    margin-left: 20px;
    color: #f7f9f9;
    text-decoration: none;
}

.current-page {
    border-bottom: 2px solid;
}

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-beer-image {
    width: 250px;   
}

.home-button {
    text-decoration: none;
    color: #f7f9f9;
    background-color: #2081c3;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #0a2c42;
}

.random-beer-container{
    display: flex;
}

.beer-img {
    width: 100px;
    height: 250px;
    margin: 7%;
}

.random-beer-text {
    margin-top: 10%;
    margin-right: 7%;
}

.food-list-div {
    margin: 0px 0px 15px 50px;
}

.card-grid {
    position: relative;
    top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px;

}

.beer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2081c3;
    color: #f7f9f9;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 10px #0a2c42;
}

.beer-card-image-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beer-card-image {
    width: 30px;
}

.beer-card-text{
    padding: 15px;
    text-align: center;
}

.flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back {
    transform: rotateY(180deg);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card-more-button {
    color: #f7f9f9;
}

.footer {
    background-color: #0a2c42;
    color: white;
    padding: 20px 0px 20px 20px;
    box-shadow: 10px #0a2c42;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
}